.auth-layout {
    // background-color: black;
    .auth {
        $size: 100px;
        width: 500px;
        .background {
            width: 500px;
            height: 300px;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0 !important;

            .shape {
                height: $size;
                width: $size;
                position: absolute;
                border-radius: 50%;
                opacity: 0.8;
                &:first-child {
                    background: linear-gradient(#1845ad, #23a2f6);
                    left: -40px;
                    top: -0;
                }
                &:last-child {
                    background: linear-gradient(to right, #ff512f, #f09819);
                    right: -40px;
                    top: 280px;
                }
            }
        }

        .control {
            // position: absolute;
            // top: 0;
            // left: 50%;
            // transform: translateX(-50%);
            z-index: 1 !important;

            width: 100%;
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            @media (max-width: 600px) {
                width: 100%;
                margin: 2rem 1rem;
                width: calc(100% - 2rem);
            }

            & > * {
                flex: 1;
            }
        }

        .outlet {
            z-index: 1 !important;
        }
    }
}
